.two-columns__brief{
  font-weight: normal;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  margin-top: 5px; /* Так как разный шрифт в двух блоках, то отступы сверху различны. Подровнял контент левой и правой колонки*/
  width: 175px;
}